.bg-img {
    /* The image used */
    background-image: url("images_back.png");
  
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }

  :root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #003271;
  }
  .footer{
    background-color: #003271;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    }

    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
      animation: App-logo-spin infinite 20s linear;
     
    }
    }
    
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
    .App-header {
      
      min-height: 120vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      
     
    }
    /*font-size: calc(10px + 2vmin);*/

    .font-style{
      color: #011794;
      font-family: 'DB Adman X';
      font-weight: bolder;
      font-size: 32px;
      text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
      -webkit-text-stroke: 0.20px white;


    }